.App {
    text-align: center;
    margin-top: 20%;
}

.app-title {
    font-size: 45px;
}

.color-picker {
    display: inline;
    margin: 10px;
}

.colpicker-input {
    display: inline;
    font-size: 25px;
    margin: 5px;
}